@tailwind base;
@tailwind components;
@tailwind utilities;

.heading{
        font-family: "DM Serif Display", serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: 50px;    
}

.paragraph{
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        /* font-weight: <weight>; */
        font-style: normal;
           

}
.lobster-regular {
        font-family: "Lobster", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 50px;    
}

/* .filer{
        display: none;
        z-index: -1;
} */